html {
    overflow-y: hidden;
}

.bg-img {
    background: url('movie-theater.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 100%;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.1);
    z-index: -1;
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}

.srchInputs {
    background: rgba(255,255,255,0.75);
    /*margin-top: 20px;*/
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.26),2px 1px 5px 0 rgba(0,0,0,0.26);
    padding-top: 7px !important;
}

.srchResults {
    z-index: 99999;
    position: relative;
}

.circle {
    border-radius: 0;
}

.collection{
    margin-top: 1px;
    /*max-height: 67vh;*/
    max-height: 450px;
    overflow-y: scroll;
}

.collection .collection-item.avatar{
    min-height: 70px;
}

.collection-item{
    cursor: pointer;
}

.collection-item:hover{
    background-color: rgb(232,232,232);
}

.resultSelection {
    position: fixed;
    /*padding:5px;*/
    bottom: 0px;
    left: 0px !important;
    max-height: 450px;
    overflow-y: auto;
}

.resultSelection .collection{
    background: white;
    cursor: default;
}

.resultSelection .collection .selectionType {
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid lightgrey;
    padding: 8px;
}

.collection .collection-item.avatar .removeSelected {
    position: absolute;
    height: 42px;
    overflow: hidden;
    right: 15px;
    display: inline-block;
    vertical-align: middle;

    line-height: 1.9;
    font-size: 25px;
    color: lightgrey;
    width: 18px;
}

.greyLabel {
    color: rgba(0, 0, 0, 0.4);
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1565C0;
    -webkit-box-shadow: 0 1px 0 0 #1565C0;
    -moz-box-shadow: 0 1px 0 0 #1565C0;
    box-shadow: 0 1px 0 0 #1565C0;
}

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #1565C0;
    -webkit-box-shadow: 0 1px 0 0 #1565C0;
    -moz-box-shadow: 0 1px 0 0 #1565C0;
    box-shadow: 0 1px 0 0 #1565C0;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #1565C0;
}

.createNetwork i {
    margin-right: 10px;
    line-height: 1;
}

.toastError {
    background-color: #cd5656;
}

.img-credit {
    position: absolute;
    color: #bfbfbf;
    bottom: 0px;
    right: 5px;
    font-style: italic;
    font-size: 9px;
}

@font-face {
    font-family: 'SignPainter';
    src: url('../fonts/SignPainter-HouseScript.ttf') format('truetype');
}

.logoText {
    font-family: 'SignPainter';
    text-shadow: 4px 4px 3px #565656;
    color: white;
    text-align: center;
    font-size: 150px;
    max-height: 180px;
}

@media only screen and (max-width: 1005px){
    .logoText {
        font-size: 85px;
    }
}

@media only screen and (max-width: 442px){
    .logoText {
        font-size: 68px;
    }
}

.returnToSearch {
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Cytoscape styles */

.cytoscapeCtnr {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.5);
    border: 4px solid #1565C0;
}